<extends src="src/layouts/main.html">
    <block name="template">
        <table class="w-full font-sans">
            <tr>
                <td align="center" class="sm:px-16">
                    <table class="w-2/4 sm:w-full">
                        <tr>
                            <td class="h-32"></td>
                        </tr>
                        <tr>
                            <td class="w-full px-24 sm:px-0 text-left">
                                <table class="w-full">
                                    <tr>
                                        <td class="w-full sm:w-full sm:inline-block">
                                            <table class="w-full">
                                                <tr>
                                                    <td class="p-24 bg-gray-600 rounded text-center">
                                                        <h2 class="m-0 mb-24 text-2xl leading-24 text-white">
                                                            Visit Request Denied</h2>
                                                        <hr />
                                                        <div class="m-0 mb-24 text-base text-white">
                                                            <h4 class="text-center">
                                                                Reason:
                                                                <br />
                                                                {Reason}
                                                            </h4>
                                                            <h4 class="text-center">
                                                                If you have any questions, please contact the DATM at 
                                                                <a href="mailto:datm@vzdc.org" class="text-base text-blue-400 hover:text-blue-500 no-underline">datm@vzdc.org</a>.
                                                            </h4>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="h-32 sm:h-16"></td>
                        </tr>
                        <tr>
                            <td class="w-full px-24 sm:px-0 text-center">
                                <a href="https://vzdc.xyz" target="_blank">
                                    <img src="https://vzdc.nyc3.digitaloceanspaces.com/images/logo.png"
                                        alt="vZDC Logo" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="h-32 sm:h-16"></td>
                        </tr>
                        <tr>
                            <td class="px-48 sm:px-24 bg-cool-gray-300 rounded text-left">
                                <p class="m-0 text-sm text-cool-gray-500 text-center">
                                    If you received this email in error, please contact the <a
                                        href="mailto:wm@vzdc.org">Webmaster</a>.
                                    <br />
                                    &copy; vZDC ARTCC 2022
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="h-48 sm:h-32"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </block>
</extends>