@page "/auth/login"
@layout EmptyLayout
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using ZDC.Client.Shared.Components

<ZdcContainer PageMargins="false">
    <p class="text-center text-white">
        Please wait while your session is authenticated
    </p>
</ZdcContainer>